/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require mobile
*= require_self
*= require bootstrap-all
*= require component
*= require demo
*= require icons
*= require normalize
*= require jquery.dataTables.min
*/
body {
	background-color: white !important;
	height: 100% !important;
}

fieldset {
	border: 0px !important;
}

input {
	font-size: 16px !important;
}
select {
}

select > option {
	font-weight: bold !important;
}

.glyphicon-edit, .glyphicon-plus {
	color:white !important;
}

.glyphicon-edit:hover {
	color:#a6a6a6 !important;
}

.glyphicon-plus {
	font-size: 18px;
	vertical-align: middle;
}

.glyphicon-plus:hover {
	color:#84e184 !important;
}

#main-div {
	height: 100% !important;
    right: 0;
    top: 0;
}

a:active {
	color:#99bbff !important;
}

input[type="checkbox"]{
  width: 20px; /*Desired width*/
  height: 20px; /*Desired height*/
}